*, *::after, *::before {
  transition: all .3s;
}
html, body {
  font-family: 'Noto Sans', sans-serif;
}
a {
  text-decoration: none;
  color: #000000;
  &:hover {
    text-decoration: none;
  }
}
.frontPage-content {
  margin-top: 98px;
}