// newHits 最新排行
.newHits-Region {
  display: flex;
  flex-direction: column;
  @include ipad {
    flex-direction: row;
  }
  &__banner {
    position: relative;
    max-width: 446px;
    box-shadow: 0 15px 24px rgba(172, 172, 172, .4);
    img{
      width: 100%;
    }
  }
  &__bannerTitle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background: $primary;
    right: 50%;
    transform: translateX(50%);
    bottom: 20px;
    padding: 10px 30px;
    opacity: 0.9;
    @include mobile {
      right: 20px;
      bottom: 20px;
      transform: translateX(0);
      padding: 20px 50px;
    }
    p {
      font-size: 1.5rem;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  &__btn {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    @include ipad {
      flex-direction: column;
      margin-top: 0;
      margin-bottom: 0;
    }    
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s;
      background-color: #fff;
      border: 1px solid $gray-500;
      width: 60px;
      height: 60px;
      &:hover {
        background-color: #000;
        color: #fff;
      }
      &:first-child {
        border-right: 0;
      }
      @include ipad {
        width: 100px;
        height: 100px;
        &:first-child {
          border-right: 1px solid $gray-500;
          border-bottom: 0;
        }
      }
    }
  }
}
.l-newHits-playList {
  max-height: 446px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
.newHits-playList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &__img {
    // display: none;
    max-width: 40px;
    @include mobile {
      max-width: 60px;
      display: block;
    }
  }
  &__title {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px;
    @include mobile {
      padding: 20px;
      font-size: 1.1rem;
      flex-direction: row;
      align-items: center;
    }
    &:hover {
      color: $gray-600;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    a {
      display: block;
      padding: 10px;
      font-size: 1.5rem;
      &:first-child {
        display: none;
        @include mobile {
          display: block;
        }
      }
      &:hover {
        color: $gray-600;
      }
    }
  }
}