
.standout-title {
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  letter-spacing: 5px;
  font-size: 7.5rem;
}
.index-carousel{
  img {
    max-height: 600px;
    object-fit: cover;
  }
}