
.standout-title {
  white-space: nowrap;
  font-weight: 700;
  font-size: 2.5rem;
  @include mobile-sm {
    font-size: 3.5rem;
  }
  @include computer {
    font-size: 7.5rem;
  }
}
.l-index-carousel__content {
  overflow: hidden;
  .index-carousel__content {
    transition: all 0.3s;
    transform: translateX(100%);
    &.active {
      transform: translateX(0);
    }
  }
}
.index-carousel{
  display: flex;
  height: 470px;
  &__content {
    p{
      font-weight: 500;
      @include mobile-sm {
        font-size: 1.5rem;
      }
      margin-bottom: 0;
    }
    .index-carousel__title {
      position: relative;
      white-space: nowrap;
      font-weight: 700;
      font-size: 1.8rem;
      margin-bottom: 15px;
      @include mobile-xs {
        font-size: 2.2rem;
      }
      @include mobile-sm {
        font-size: 2.5rem;
      }
      @include mobile {
        font-size: 4rem;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -7px;
        right: 0;
        height: 7px;
        width: 0;
        background-color: #000;
        transition: width 0.3s;
      }
      &:hover {
        color: #000;
      }
      &:hover {
        &::after {
          width: 40%;
        }
      }
    }
  }
  &__btn {
    font-size: 1.1rem;
    padding: 15px 40px;
    background-color: #000;
    color: #fff;
    border-radius: 0;
    border: 0;
  }
  &__1st {
    align-items: center;
    justify-content: flex-end;
    background: url('~@/assets/img/index_banner1.jpg') center center / cover no-repeat;
    .l-index-carousel__content {
      margin-right: 20px;
      @include mobile {
        margin-right: 70px;
      }
    }
    .index-carousel__content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__2nd {
    justify-content: center;
    align-items: center;
    background: url('~@/assets/img/index_banner2.jpg') center center / cover no-repeat;
    .index-carousel__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}