.commonNavbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  transition: top 0.3s;
}
.commonNavbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 15px;
  margin-bottom: 5px;
  @include mobile {
    justify-content: center;
  }
  &__menuToggle {
    display: block;
    @include mobile {
      display: none;
    }
  }
  &__logo {
    display: block;
    background-image: url('~@/assets/img/logo.png');
    width: 150px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    @include mobile {
      width: 180px;
    }
  }
}
.commonNavbar-bottom {
  position: relative;
  &__routerList {
    display: none;
    @include mobile {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
    }
    a {
      display: block;
      padding: 10px 20px;
    }
    li:nth-child(2) {
      position: relative;
      &::before,  &::after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); 
        width: .1rem;
        background-color: #e5e5e5;
        height: 1.5rem;
      }
      &::after {
        right: 0;
      }
    }
  }
  &__iconNav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: fixed;
    top: auto; 
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateY(0);
    background-color: #e5e5e5;
    padding: 5px;
    @include mobile {
      position: absolute;
      top: 50%;    
      right: 0;
      bottom: auto;
      left: auto;
      transform: translateY(-50%);
      background-color: #fff;
      padding: 0;
    }
    a {
      padding: 10px 30px;
      @include mobile {
        padding: 10px 15px;
      }
    }
  }
  &__cartNum {
    position: absolute;
    top: 0;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $gray-400;
    @include mobile {
      right: -5px;
    }
  }
}
.commonNavbar-phoneMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0 , 0 , 0 , 0.9);
  transition: height .3s;
  height: 0;
  overflow: hidden;
  &.isOpen {
    height: 100%;
  }
  &__routerList {
    white-space: nowrap;
    list-style: none;
    a {
      color: #fff;
    }    
  }
  &__closeBtn {
    position: absolute;
    font-size: 2rem;
    top: 15px;
    right: 10px;
    color: #fff;
  }
}