html, body {
  height: 5000px;
  font-family: 'Noto Sans', sans-serif;
}
a {
  text-decoration: none;
  color: #000000;
  &:hover {
    text-decoration: none;
  }
}
// .wrap {
//   max-width: 1300px;
//   margin: 0 auto;
// }
.index {
  &-logo {
    display: block;
    background-image: url('~@/assets/img/logo.png');
    width: 180px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
  }
  &-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
    transition: top 0.3s;
  }
  &-carousel{
    margin-top: 98px;
    img {
      max-height: 650px;
      object-fit: cover;
    }
  }
}
.topBar {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 15px;
  margin-bottom: 5px;
}
.bottomBar {
  position: relative;
  &-routerLink {
    display: flex;
    justify-content: center;
    a {
      display: block;
      padding: 10px 20px;
    }
    li:nth-child(2) {
      position: relative;
      &::before,  &::after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); 
        width: .1rem;
        background-color: #e5e5e5;
        height: 1.5rem;
      }
      &::after {
        right: 0;
      }
    }
  }
  &-iconNav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    right: 0;
    @include mobile {
      position: fixed;
      top: auto; 
      bottom: 0;
      right: 0;
      left: 0;
      transform: translateY(0);
      background-color: #e5e5e5;
    }
    li {
      margin-right: 1rem;
    }
    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-size: 1.5rem;
    }
  }
}
.asideNav {
  &-left{
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    a, p {
      transform: rotate(270deg);
      font-size: 1.2rem;
    }
    p {
      margin-top: 50px;
    }
  }
}
.CartPanel {
  position: fixed;
  z-index: 11;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #e5e5e5;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  width: 0;
  &.open {
    width: 25%;
  }
}