.cartPanel {
  position: fixed;
  z-index: 12;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.3s;
  transform: translateX(100%);
  width: 100%;
  @include mobile {
    width: 50%;
  }
  @include computer {
    width: 25%;
  }
  &.open {
    transform: translateX(0);
  }
  &__img {
    max-width: 30%;
  }
}
.cartBackDrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
  overflow-y: scroll;
}